.aboutContainer {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
  }
}
