.createPoem {
  background-color: #12273a;
  border-radius: 15px;
  padding: 1rem;

  h2 {
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
  }
}

.input {
  background-color: #2e3b46;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
